.formBox {
  height: 100%;
  width: 300px;
}

@media screen and (max-width: 390px) {
  .formBox {
    width: 80%;
  }
}
.header {
  margin: 40px 0 56px;
  font-weight: 400;
}
.emailGridItem {
  margin-bottom: 26px;
}
.passwordGridItem {
  margin-bottom: 100px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  .loginButton {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
